* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFDF5;
  /* Fundo escuro igual ao site */
  font-family: 'Arial', sans-serif;
}

/* Container "Pai" */
.container {
  background-color: #FFFDF5;
}

/* Cabeçalho do site */
.cabecalho {
  background-color: #0B1048;
  height: 40px;
  display: flex;
}

/* Link do site */

.link-principal {
  text-align: center;
  color: #FFFDF5;
  text-decoration: none;
  font-family: Arial, sans-serif;
  margin: 60px;
}

/* Logo */

.foto-logo {
  margin: 10px
}

/* Section / container do carrossel*/

.carrossel {
  background-color: aqua;
  margin-top: 20px;
}

/* Contêiner principal que segura todo o carrossel */
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 40px;
}

/* Janela que esconde os cards que passam do limite */
.carousel-window {
  overflow: hidden;
  width: 100%;
  border-radius: 12px;
}

/* Linha que move os cards */
.carousel-track {
  display: flex;
  gap: 20px;
  /* Espaço entre os cards */
  transition: transform 0.5s ease-in-out;
}

/* Configuração de cada Card individual */
.carousel-card {
  min-width: calc((100% - 40px) / 3);
  /* Mostra exatamente 3 cards na tela */
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  overflow: hidden;
}

/* Sombra preta na parte inferior do card para destacar o texto */
.card-content {
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, rgba(2, 10, 58, 0.9) 0%, rgba(58, 80, 155, 0.4) 60%, transparent 100%);
  color: white;
}

/* Estilo das Tags/Categorias pequenos */
.card-tags {
  display: flex;
  gap: 6px;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.card-tags span {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  font-size: 11px;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: 500;
}

/* Título do Card */
.card-title {
  font-size: 1.4rem;
  font-weight: bold;
}

/* Botões flutuantes de navegação lateral */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: background 0.3s;
}

.carousel-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.prev-btn {
  left: -10px;
}

.next-btn {
  right: -10px;
}

/* Responsividade: exibe menos cards em telas menores */
@media (max-width: 900px) {
  .carousel-card {
    min-width: calc((100% - 20px) / 2);
  }

  /* 2 cards */
}

@media (max-width: 600px) {
  .carousel-card {
    min-width: 100%;
  }

  /* 1 card */
}

.card1 {
  text-decoration: none;
  color: white;


}

